.features-wrap {
  position: relative;
}

.features-wrap__icon {
  position: absolute;
  left: 0;
  top: 0;
}

.features-wrap__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
  &--1 {
    margin-left: 65px;
  }
  &--2 {
    margin-left: 70px;
  }
  &--3 {
    margin-left: 62px;
  }

}

.features-wrap__description {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
  &--1 {
    margin-left: 65px;
  }
  &--2 {
    margin-left: 70px;
  }
  &--3 {
    margin-left: 62px;
    }
}
