.features-list {
 box-sizing: border-box;
 padding: 23px 18px 52px;
 background-color: #ffffff;
 color: #000000;
 list-style-type: none;
}

.features-list__item {
  &:not(:last-child) {
 margin-bottom: 22px;
}
}
