.features-list {
  box-sizing: border-box;
  padding: 23px 18px 52px;
  background-color: #ffffff;
  color: #000000;
  list-style-type: none;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 60px 30px 59px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 52px 80px;
  }
}

.features-list__item:not(:last-child) {
  margin-bottom: 22px;
}

.features-list__item {
  text-align: center;
}
