.inner-promo {
  padding: 0 20px 24px;
  text-align: center;
  background-color: #ffffff;
}

.inner-promo__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 22px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.inner-promo__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;

  &--higher {
    line-height: 1.25;
  }
}

