.inner-promo {
  margin: 0;
  padding: 0 20px 26px;
}
.inner-promo__title {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 26px;
}
.inner-promo__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.inner-promo-wrapper {
  margin: 17px auto 38px;
}
.inner-promo__presentation {
  margin: 0 auto;
}
