.menu {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu--opened {
  background-color: #81b3d2;
  color: #ffffff;
  flex-direction: column;
}

.menu__item {
  border-bottom: 1px solid  rgba(1, 1, 1, 0.2);
}

.menu__item:last-child {
  box-sizing: border-box;
  border-bottom: 7px solid #81b3d2;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}


.menu__link {
  display: block;
  padding: 17px 0 12px;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-transform: uppercase;
}
