.navigation-opened-menu {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
