.photo-collection {
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 648px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
    max-width: 100%;
  }
}

.photo-collection__item {
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  min-width: 280px;
  max-width: 100%;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    min-width: 324px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 400px;
  }
}

