.photo-card {
  padding: 24px 26px;
}


.photo-card__link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.photo-card__photo {
  margin-bottom: 15px;
}

.photo-card__title {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}

.photo-card__author {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: block;
  margin-bottom: 11px;
  color: #000000;
  text-align: left;
}

.photo-card__counter {
  margin-right: auto;
}
