.presentation__promo {
  padding: 17px 26px 38px;

  @media (min-width: @tablet-width) {
    padding: 58px 160px 66px;
  }

  @media (min-width: @desktop-width) {
    padding: 66px 370px 68px;
  }
}

.presentation__video {
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 84px;
  }
}

.presentation__video-play {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.presentation__video-button {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0 auto;
  top: 40%;
  left: 45%;
  background-image: url("../../images/video-button.svg");
  background-color: rgba(0, 0, 0, 0);
  width: 48px;
  height: 54px;
}
