.presentation__promo {
  padding: 17px 26px 24px;

  @media (min-width: @tablet-width) {
    padding: 58px 160px 76px;
  }

  @media (min-width: @desktop-width) {
    padding: 66px 370px 68px;
  }
}

.presentation__video {
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url("../../images/video-presentation-mobile.jpg");
  object-fit: cover;
  width: 280px;
  height: 177px;

  @media (min-width: @tablet-width) {
    margin-bottom: 36px;
    background-image: url("../../images/video-presentation-tablet.jpg");
    width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 84px;
    background-image: url("../../images/video-presentation.jpg");
    width: 800px;
    height: 500px;
  }
}

.presentation__video-play {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.presentation__video-button {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0 auto;
  top: 37%;
  left: 53%;
  transform: translateX(-50%);
  background-image: url("../../images/video-button.svg");
  background-color: rgba(0, 0, 0, 0);
  width: 48px;
  height: 54px;

  @media (min-width: @tablet-width) {
    top: 45%;
    left: 50%;
  }
}
