.promo {
  margin: 0 auto;
}
.promo__slogan {
  background-image: url("../../../images/background-slogan-mobile.jpg");
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.promo__slogan-image {
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.promo__need-visit {
  margin: 32px 20px 16px 18px;
}

.promo__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 95%;
}

.promo__text {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.promo__top-divider {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
.promo__bottom-divider {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
