.promo {
  margin: 0 auto;
  background-color: #ffffff;
}

.promo__slogan {
  background-image: url("../../../images/back-index--tablet-desktop.jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  height: 389px;
  object-fit: cover;
  display: block;
  background-position: 50% -35px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    background-image: url("../../../images/divider-catalog.svg");
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 57px;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    position: absolute;
    top: 85.5%;
    left: 0;

    @media (min-width: @tablet-width) {
      background-size: 768px 57px;
    }

    @media (min-width: @desktop-width) {
      background-size: 1200px 57px;
    }
  }
}

.promo__slogan-image {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  padding-top: 90px;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
  }
}

.promo__need-visit {
  box-sizing: border-box;
  padding: 32px 20px 16px 18px;

  @media (min-width: @tablet-width) {
    padding: 48px 20px 16px 18px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 20px 16px 18px;
  }
}

.promo__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 95%;

  @media (min-width: @tablet-width) {
    max-width: 520px;
  }
}

.promo__text {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 16px;
}

