.sedona-sight {
  margin: 0 auto 30px;
  display: block;
  background-image: url("../../../images/back-form-catalog.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
}

.sedona-sight__divider {
  margin: 0 auto;
  display: block;
  object-fit: cover;
  background-position: center;
}
